[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/csv2"]
	path = libs/csv2
	url = https://github.com/p-ranav/csv2.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/gsl"]
	path = libs/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "libs/xtenstor"]
	path = libs/xtenstor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "libs/xtl"]
	path = libs/xtl
	url = https://github.com/xtensor-stack/xtl.git
